html {

    scroll-behavior: smooth;
    --defaultColor: #0A3871;
    --darkenDefault: #031326;
    --DefaultColorHover: #0B3E7D;
    --lightBackground: #f1f1f1;
    --white: white;
    --grey: #4b4b4b;
    font-family: 'Inter', sans-serif;
    background-color: var(--lightBackground);

}

html button {

    border: 0;

}

h1 {

    font-size: x-large;
    font-weight: 400;

}

header {

    display: flex;
    background-color: var(--defaultColor);
    height: 87px;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 13px;

}

footer {

    padding-top: 20px;
    display: flex;
    background-color: var(--defaultColor);
    height: 87px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;



}

.footerTab {

    padding: 10px 0;
    color: var(--white);
    font-size: x-small;
    text-align: center;
    display: block;
    width: 100%;
    background-color: var(--darkenDefault);

}

.logoSite {

    max-width: 48px;

}

#descriptionLogo {

    color: white
}

main {
    padding: 20px 0;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}


.containerText {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 24px;
    margin: 20px 0;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.068), 0 15px 12px rgba(0, 0, 0, 0.075);


}

.containerTitle {

    text-align: center;
    width: 100%;

}

.subTitle {

    font-weight: 400;
    font-size:small;
    color: var(--grey);

}

textarea {

    text-align: left;
    padding: 0 20px;
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    min-height: 250px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    overflow: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 0;

}

textarea:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
  }
textarea::placeholder {

    color:var(--grey);

}

.containerButtons {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 15px;
}

.containerButtons a {

    text-decoration: none;

}

.infoText {

    color: var(--grey);
    display: flex;
    font-size: 12px;
    text-align: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


.primaryButton {
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: medium;
    color: var(--white);
    padding: 25px;
    text-align: center;
    width: 300px;
    height: 65px;
    background-color: var(--defaultColor);
    border-radius: 24px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}


.primaryButton:hover {

    background-color: var(--DefaultColorHover);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);


}

.secundaryButton {

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: medium;
    color: var(--defaultColor);
    padding: 25px;
    width: 300px;
    height: 65px;
    border: 1px solid var(--defaultColor);
    border-radius: 24px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.secundaryButton:hover {

    color: var(--defaultColor);
    padding: 25px;
    width: 300px;
    height: 65px;
    border: 1px solid var(--defaultColor);
    background-color: var(--defaultColor);
    color: var(--white);
    border-radius: 24px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);



}

.iconButton img {

    max-height: 20px;

}